body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: block;
    padding: 15px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#menu {
    list-style-type: none;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 1;
    padding-top: 75px;
}

.menu-toggle:checked + .hamburger + #menu {
    width: 200px;
}

#menu li a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #111;
    white-space: nowrap;
}

#menu li a:hover, #menu li a:focus {
    background-color: #111;
}

#nav_background{
    background-color: #333;
    width: 100%;
    height: 70px;
}
.title_div {
    width: 100%;
    height: 250px;
    background-color: gray;
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    text-align: center; 
    padding: 20px;  
    position: relative;
}

.divider{
    width:100%;
    height:5px;
    background-color: black;
    position:relative;
}

body, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#book_form_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}

#book_form {
    background-color: #333;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 5px solid rgb(219, 194, 54);
    border-radius: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.form-group label {
    margin-bottom: 5px;
    color: white;
    font-size: 25px;
}

.form-group input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(216, 216, 216);
    color: white;
    padding: 5px;
}

.submit-button {
    align-self: center;
    padding: 10px 20px;
    width: 16%;
    font-size: 20px;
    height: 45px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    background-color: greenyellow;
    color: white;
}

#textarea_div label{
    margin-bottom: 5px;
    color: white;
    font-size: 25px;   
}

#textarea_div textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0); 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    resize: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: border-color 0.3s ease-in-out; 
}

